/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .container-fluid { 
 	background: url(/assets/bg.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 }


 #main {
 	position: relative;
 	background-color: ;
 }

 #boxes {
 	position:absolute;
 	padding-top: 10px;
}
 
 #top-box1 {
 	border-radius: 5px;
 	background-color: #BBDDFF;
 }
 #top-box2 {
 	border-radius: 5px;
 	background-color: #BBFFCC;
  }
 #top-box3 {
 	border-radius: 5px;
 	background-color: #FFFFBB;
 }
 #side-box1 {
 	border-radius: 5px;
 	background-color: #DDFFBB;
 }
