



<!-- <h2>Awesomest Bus!</h2>
<ul>
  <form>
    <li>Start location: <input type="text" id="start_location" name="start_location"></li>
    <li>End location: <input type="text" name="end_location"></li>
    <li>Departure time: <input type="text" name="departure_time">  </li>
    <li>Arrival time: <input type="text" name="arrival_time"></li>
    <input type="submit">
  </form>
</ul>
<p id="whatever">
</p>

 -->

 <div class="row-fluid">
 	<div class="span12" id="main">
		<div class="row-fluid" id="boxes">
	 		<div class="span4" id="top-box1">a</div>
	 		<div class="span4" id="top-box2">b</div>
	 		<div class="span4" id="top-box3">c</div>
 		</div>
 	</div>
</div>

<div class="row-fluid">
 	<div class="span12" id="main">
 	</div>
</div>

<div class="row-fluid">
 	<div class="span12" id="main">
		<div class="row-fluid" id="boxes">
	 		<div class="span4 offset8" id="side-box1">a</div>
 		</div>
 	</div>
</div>

<div class="row-fluid">
 	<div class="span12" id="main">
 	</div>
</div>

<div class="row-fluid">
 	<div class="span12" id="main">
		<div class="row-fluid" id="boxes">
	 		<div class="span4 offset8" id="side-box1">a</div>
 		</div>
 	</div>
</div>