<!-- <h2>Awesomest Bus!</h2>
<ul>
  <form>
    <li>Start location: <input type="text" id="start_location" name="start_location"></li>
    <li>End location: <input type="text" name="end_location"></li>
    <li>Departure time: <input type="text" name="departure_time">  </li>
    <li>Arrival time: <input type="text" name="arrival_time"></li>
    <input type="submit">
  </form>
</ul> -->
<div class="route-info hidden" id="fetch">
  <div class="geolocation" id="false"></div>
  <ul>
    <li class="route">Route...</li>
    <li class="leave">Leave At...</li>
    <li style="min-width: 5%; cursor: pointer;">+</li>
  </ul>
  <div class="current-route hidden">
    <div class="this-route" id="route-name"><p>L</p></div>
    <div class="this-route" id="leave-at"><p>8:17</p></div>
    <%#<div class="this-route" id="arrive-at"><p>9:00</p></div>%>
  </div>
  <ul class="dropdownlist hidden"></ul>
</div>
<div id="map-canvas"></div>
<div class="outerwrapper">

  <div class="error_message hidden"></div>
  <div class="footer">
    <a class="home nav-button hidden">X</a>
    <form class="location-form">
      <a class="go nav-button" id="gounclick">go</a>
      <input type="text" id="start_location" value="Current Location">
      <input type="text" id="end_location" placeholder="Destination" value="<%= @destinations[0] if not @destinations[0] == "test" %>" autofocus="autofocus">
      <span style="clear: both;"></span>
    </form>
    <div class="mode"></div>
    <canvas id="minutesTimer" class="timer"></canvas>
    <canvas id="secondsTimer" class="timer"></canvas>
    <a href="/" style="display: none;"><%= image_tag "home2.png", class: "home-nav" %></a>
  </div>

</div>
