<!-- <h2>Awesomest Bus!</h2>
<ul>
  <form>
    <li>Start location: <input type="text" id="start_location" name="start_location"></li>
    <li>End location: <input type="text" name="end_location"></li>
    <li>Departure time: <input type="text" name="departure_time">  </li>
    <li>Arrival time: <input type="text" name="arrival_time"></li>
    <input type="submit">
  </form>
</ul> -->

<div class="route-info">
  <ul id="input">
    <form class="user-input">
      <li><input type="text" id="start_location" value="Current Location"></li>
      <li id="end"><input type="text" id="end_location" placeholder="Destination" value="2300 Webster San Francisco" autofocus="autofocus"></li>
    </form>
  </ul>
  <ul id="fetch" class="hidden">
    <li><input type="text" readonly="readonly" id="fetch" class="route" value="Route..."></li>
    <li><input type="text" readonly="readonly" id="fetch" class="leave" value="Leave At..."></li>
    <li><input type="text" readonly="readonly" id="fetch" class="arrive" value="Arrive At..."></li>
  </ul>
  <div class="current-route hidden">
    <div class="this-route" id="route-name"><p>L</p></div>
    <div class="this-route" id="leave-at"><p>8:17</p></div>
    <%#<div class="this-route" id="arrive-at"><p>9:00</p></div>%>
  </div>
</div>
<div class="dropdown">
  <div class="dropdownline"><%= image_tag "pulldownlines1.png" %></div>
  <ul class="dropdownlist hidden">
  </ul>
</div>
<div class="center-div">
  <a class="go" id="gounclick"><%= image_tag "go.jpeg", class: "go" %></a>
  <a class="go hidden" id="goclick"><%= image_tag "goclick1.png", class: "go" %></a>
</div>

<div class="bottom-div">
  <canvas id="minutesTimer"></canvas>
  <canvas id="secondsTimer"></canvas>
  <a href="/"><%= image_tag "home2.png", class: "home-nav" %></a>
</div>
