<!-- <h2>Awesomest Bus!</h2>
<ul>
  <form>
    <li>Start location: <input type="text" id="start_location" name="start_location"></li>
    <li>End location: <input type="text" name="end_location"></li>
    <li>Departure time: <input type="text" name="departure_time">  </li>
    <li>Arrival time: <input type="text" name="arrival_time"></li>
    <input type="submit">
  </form>
</ul>
<p id="whatever"> -->

<div id="top-box1">A</div>
<div id="top-box2">B</div>
<div id="top-box3">C</div>

<div id="timer">TIMER</div>
